* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #e9ebf8;
  padding: 4em 0 0 0;
}

header li {
  list-style-type: none;
}

header a {
  text-decoration: none;
}

/* .menu-principal {
  color: #221d23;
  background-color: #c22826;
} */

.iconos {
  width: 1.3em;
  padding: none;
}

.menu-principal a {
  color: #c22826;
}

.redes-sociales ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1em;
}

.idioma {
  position: absolute;
  padding: 0.2em;
  top: 0;
  right: 0;
  font-size: 0.8em;
  color: #4da1ac;
}

.idioma select {
  background-color: #e9ebf8;
  border: none;
  color: #4da1ac;
}

.barra-amarilla {
  height: 1em;
  max-height: 10px;
  background-color: #e1c561;
}

.barra-verde {
  height: 2em;
  max-height: 20px;
  background-color: #4da1ac;
}

/* TABLETS Y LAPTOPS */

@media only screen and (min-width: 600px) {
  header li {
    display: inline-flex;
  }

  .menu-principal a {
    padding: 0.5em 1em;
  }

  .menu-principal a:hover {
    background-color: #c22826;
    color: #e9ebf8;
    padding: 0.5em 1.2em;
  }

  .menu {
    flex-direction: row;
    padding: 0;
  }

  #logo-header {
    /* flex: 1; */
    width: 30em;
  }

  /* .menu-principal {
    flex: 3;
  }

  .redes-sociales {
    flex: 1;
  } */


  .iconos {
    width: 1.3em;
    padding: none;
  }

  .idioma {
    position: absolute;
    padding: 0.2em;
    border-radius: 10%;
    top: 0;
    left: 70%;
    font-size: 0.8em;
  }

  .idioma select {
    background-color: #e9ebf8;
    border: none;
  }
}
