* {
  font-size: small;
}

footer {
  background-color: #4da1ac;
  padding: 0 0 0.5em 0;
  color: whitesmoke;
}

.footer-container {
  display: flex;
}

footer h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  justify-content: center;
  padding: 0 0 1em 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-footer a,
.redes-sociales-item a {
  color: whitesmoke;
  text-decoration: none;
}

.copy p{
  text-align: center;
  opacity: 0.8;
  font-size: 0.8em;
}

.menu-footer a, .redes-sociales-item a, .canales p {
  display: block;
  padding: 0.5em 0;
}

/* MOBILE */

@media only screen and (max-width: 576px) {
  .footer-container {
    flex-direction: column;
  }

  .menu-footer, .canales {
    padding: 1em 2em;
  }

  .redes-sociales-footer {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* TABLETS Y LAPTOPS */

@media only screen and (min-width: 577px) {
  .footer-container {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1em 1.5em 1em;
  }
}

/* LAPTOPS */

/* @media only screen and (min-width: 769px) {
} */
