/* Estilos Generales */

@font-face {
  font-family: "Wolf Sans";
  src: url("./font/wolf-sans-sc-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "grqalir";
  src: url("./font/grqalir-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  /* margin-top: 100px;
  margin-bottom: 150px; */
  text-align: center;
}
body {
  min-width: 385px;
  /* font-family: "Wolf Sans", Helvetica, sans-serif; */
  font-family: "grqalir", Helvetica, sans-serif;
}

/* carrusel de presentacion */
.contenedor-main {
  background-color: #e9ebf8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.slider {
  width: 55%;
  margin: auto;
  overflow: hidden;
  max-height: 450px;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite;
  animation-direction: alternate;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/************ Pedidos.html *********************/

.contenedor-pedidos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "horario  entrega"
    "imagen     mapa"
    "formu    pedido"
    "comanda  comanda";
}
.imagen {
  grid-area: imagen;
  margin: auto;
}
/* SECTION HORARIO */
.horario {
  grid-area: horario;
  text-align: center;
  margin: auto;
  font-size: 1.25rem;
}
.horario th {
  background: #d94a38;
  color: #fff;
  padding: 10px 20px;
}
.horario td {
  border-right: 1px solid #ccc;

  text-align: center;
  padding: 0 20px;
}
.horario td[rowspan="3"] {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: 500;
}
.horario tr.ultima td {
  border-bottom: 1px solid #ccc;
}
.horario p {
  font-size: 2rem;
  font-weight: 600;
}
/* SECTION ZONA ENTREGA */
.zona-entrega {
  grid-area: entrega;
  margin: 20px auto;
}

.zona-entrega h3 {
  font-size: 2rem;
}
.zona-estamos {
  grid-area: mapa;
}
.maps {
  width: 80%;
  margin: auto;
}
.formulario {
  grid-area: formu;
}
.pedido {
  grid-area: pedido;
}
.comanda {
  grid-area: comanda;
}

/* Laptop */
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 40px;
  }
  .slider {
    width: 65%;
  }
}

/* Tablet */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  .slider {
    width: 73%;
  }
}

/* MOBILE */
@media only screen and (max-width: 400px) {
  .slider {
    width: 80%;
  }
}
