@font-face {
  font-family: "Wolf Sans";
  src: url("./font/wolf-sans-sc-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "grqalir";
  src: url("./font/grqalir-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  font-family: "grqalir", sans-serif;
}

header {
  background-color: whitesmoke;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-principal a {
  color: #221d23;
  text-decoration: none;
  text-transform: uppercase;
}

.idioma {
  display: inline-block;
}

.idioma p {
  padding: 0.1em 0.5em;
}

.barra-amarilla {
  height: 0.5em;
  max-height: 10px;
  background-color: #e1c561;
}

.barra-verde {
  height: 1em;
  max-height: 20px;
  background-color: #4da1ac;
}

/* MOBILE */

@media only screen and (max-width: 576px) {

  .logo {
    text-align: center;
    padding: 1.5em 0 0.5em;
  }

  #logo-header {
    max-width: 80vw;
    margin: 0 auto;
  }

  .menu-principal a {
    font-weight: 700;
    display: block;
    padding: 0.5em 1em;
  }

  .redes-sociales {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }

  .idioma {
    position: absolute;
    padding: 0.2em;
    top: 0;
    right: 0;
    font-size: 0.5em;
  }

  .idioma button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #221d23;
    border: none;
    border-radius: 12px;
    color: whitesmoke;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  .idioma:hover button {
    border: 1px solid #221d23;
    background-color: whitesmoke;
    color: #221d23;
  } /* Resolverlo como menú hamburguesa*/

  .desplegable {
    justify-content: center;
    display: none;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #221d23;
  }

  .idioma:hover .desplegable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* TABLETS */

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .logo {
    visibility: visible;
    padding: 1em;
  }

  #logo-header {
    width: 30vw;
  }

  .navegable,
  .nav-derecha {
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-bottom: 0.2em;
  }

  .menu-principal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-principal a {
    font-weight: 700;
    padding: 10px;
    font-size: 1em;
    opacity: 0.7;
  }

  .redes-sociales ul {
    display: flex;
    justify-content: end;
    justify-content: space-around;
    padding: 0 1em;
  }

  .iconos-redes, .iconos-idioma {
    width: 1.1em;
    padding: 0 0.2em;
  }

  .idioma {
    position: absolute;
    padding: 0.2em;
    top: 0;
    right: 0;
    font-size: 0.5em;
  }

  .idioma button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #221d23;
    border: none;
    border-radius: 12px;
    color: whitesmoke;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  .idioma:hover button {
    border: 1px solid #221d23;
    background-color: whitesmoke;
    color: #221d23;
  }

  .desplegable {
    justify-content: center;
    display: none;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #221d23;
  }

  .idioma:hover .desplegable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* LAPTOPS */

@media only screen and (min-width: 769px) {
  body {
    max-width: 1500px;
  }

  .menu,
  .redes-sociales ul,
  .nav-derecha {
    display: flex;
    align-items: center;
  }

  .menu,
  .redes-sociales ul {
    flex-direction: row;
  }

  .navegable {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav-derecha {
    justify-content: end;
    padding: 0 1em;
  }

  .menu-principal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-principal a {
    font-weight: 700;
    padding: 10px;
    font-size: 1.2em;
    opacity: 0.7;
  }

  .menu-principal a:hover {
    background-color: #c22826;
    color: whitesmoke;
    padding: 0.5em 1.2em;
    opacity: 1;
    border-radius: 10px;
  }

  .logo {
    flex-grow: 1;
    visibility: visible;
    padding: 1em;
  }

  #logo-header {
    width: 30vw;
  }

  .iconos-redes, .iconos-idioma {
    width: 1.5em;
    padding: 0.5em;
  }

  .idioma button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #221d23;
    border: none;
    border-radius: 12px;
    color: whitesmoke;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  .idioma:hover button {
    border: 1px solid #221d23;
    background-color: whitesmoke;
    color: #221d23;
  }

  .desplegable {
    justify-content: center;
    display: none;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #221d23;
  }

  .idioma:hover .desplegable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
