@font-face {
  font-family: "Wolf Sans";
  src: url("./font/wolf-sans-sc-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "grqalir";
  src: url("./font/grqalir-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  /* Esta regla va a cambiar el tamaño de muchas cosas,
      usar al tener todo listo para corregir escalas"*/
  /* box-sizing: border-box; */
  font-family: "grqalir", sans-serif;
}

header {
  background-color: whitesmoke;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-principal a {
  color: #221d23;
  text-decoration: none;
  text-transform: uppercase;
}

.iconos {
  width: 1.2em;
}

.idioma {
  position: absolute;
  color: #4da1ac;
  /* border: 0.5px solid #4da1ac; */
  font-size: 0.8em;
  display: inline-block;
}

.idioma p {
  padding: 0.1em 0.5em;
}

.barra-amarilla {
  height: 1em;
  max-height: 10px;
  background-color: #e1c561;
}

.barra-verde {
  height: 2em;
  max-height: 20px;
  background-color: #4da1ac;
}

/* MOBILE */

@media only screen and (max-width: 576px) {
  header {
    padding: 2.5em 0 0 0;
  }

  /*Quizá está regla redunda, comparar con header ul */
  .menu-principal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-principal a {
    font-weight: 700;
    display: block;
    padding: 0.5em 1em;
  }

  .logo,
  .redes-sociales {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }

  .idioma {
    padding: 0.2em;
    top: 0;
    right: 0;
    border: none;
  }

  .desplegable {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
  }

  /* .idiomade select {
    background-color: #e9ebf8;
    border: none;
    color: #4da1ac;
  } */
}

/* TABLETS */

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .menu,
  .header-izquierda {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }

  .menu-principal ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .menu-principal a {
    font-weight: 700;
    padding: 10px;
  }

  .logo {
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
  }

  #logo-header {
    width: 15em;
    padding-top: 30px;
  }

  .redes-sociales ul {
    position: absolute;
    top: 1.5em;
    right: 0.5em;
  }

  .iconos {
    padding: 3px;
  }

  .idioma {
    position: absolute;
    padding: 0.2em;
    top: 0;
    left: 80%;
  }

  .desplegable {
    justify-content: center;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #4da1ac;
  }

  .idioma:hover .desplegable {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .idioma button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4da1ac; /* Green */
    border: none;
    border-radius: 12px;
    color: #e9ebf8;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  .idioma button:hover {
    border: 1px solid #4da1ac;
    background-color: #e9ebf8;
    color: #221d23;
  }

  #angle-down {
    width: 0.5em;
  }

  .desplegable {
    justify-content: center;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #4da1ac;
  }

  .idioma:hover .desplegable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* LAPTOPS */

@media only screen and (min-width: 769px) {
  body {
    max-width: 1500px;
  }

  .menu,
  .header-izquierda,
  .redes-sociales ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }

  .menu-principal {
    padding-left: 3em;
  }

  .menu-principal ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .menu-principal a {
    /* font-weight: 700; */
    padding: 10px 1.3em;
    font-size: 1.2em;
    opacity: 0.7;
  }

  .menu-principal a:hover {
    background-color: #c22826;
    color: #e9ebf8;
    padding: 0.5em 1.2em;
    opacity: 1;
  }

  .logo {
    visibility: visible;
  }

  #logo-header {
    width: 20vw;
    padding: 10px;
  }

  .iconos {
    width: 1.5em;
    padding: 0.5em;
  }

  .idioma {
    position: absolute;
    padding: 0.2em;
    top: 0;
    left: 70%;
  }

  .idioma button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4da1ac; /* Green */
    border: none;
    border-radius: 12px;
    color: #e9ebf8;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  .idioma button:hover {
    border: 1px solid #4da1ac;
    background-color: #e9ebf8;
    color: #221d23;
  }

  #angle-down {
    width: 0.5em;
  }

  .desplegable {
    justify-content: center;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px #4da1ac;
  }

  .idioma:hover .desplegable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
