* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

footer {
  background-color: #e9ebf8;
  padding: 0.5em 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-footer a {
  color: #221d23;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
    footer, .footer-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

    .menu-footer a {
        display: block;
        padding: 0.5em 0.5em;
      }
}
